@font-face {
    font-family: tty;
    src: url('assets/web_ibm_vga_8x16.woff')
}

.tty {
    font-family: tty, monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.x {
    @apply flex flex-row
}

.y {
    @apply flex flex-col
}

.text {
    @apply text-neutral-700 dark:text-neutral-200;
}

.click {
    @apply cursor-pointer;
}

.box {
    @apply rounded bg-neutral-100 dark:bg-neutral-900 border border-neutral-400 dark:border-neutral-700 py-2 px-4 text-neutral-700 dark:text-white;
}

.box-shadow {
    @apply shadow hover:shadow-lg transition transition-shadow;
}